* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  min-height: 100vh;
  color: white;
  padding: 100px 0;
}
.info h1 {
  font-size: 50px;
}
.infoText {
  font-size: 15px;
  line-height: 30px;
  margin: 1rem 0 3rem 0;
  font-weight: 400;

  width: 95%;
}
.info {
  font-size: 15px;
}

/* FORM */
.gridBox {
  padding: 0 10%;
  overflow: hidden;
}

.inputDiv {
  margin-bottom: 20px;
}
.form .inputDiv input {
  background: linear-gradient(0deg, rgba(9, 9, 9, 0.87), rgba(9, 9, 9, 0.87)),
    linear-gradient(0deg, rgba(63, 63, 63, 0.78), rgba(63, 63, 63, 0.78));
  outline: none;
  border: 1px solid #3f3f3fc7;
  font-size: 16px;
  font-family: "Axiforma", sans-serif;
  padding: 18px 40px;
  border-radius: 15px;

  color: #ffffff99;
}
textarea {
  background: linear-gradient(0deg, rgba(9, 9, 9, 0.87), rgba(9, 9, 9, 0.87)),
    linear-gradient(0deg, rgba(63, 63, 63, 0.78), rgba(63, 63, 63, 0.78));
  outline: none;
  border: 1px solid #3f3f3fc7;
  font-size: 16px;
  font-family: "Axiforma", sans-serif;
  padding: 18px 40px;
  border-radius: 15px;
  width: 100%;
  min-height: 28vh;
  color: #ffffff99;
}
.form .submit {
  background-color: white;
  text-transform: none;
  color: black;
  font-family: "Axiforma", sans-serif;
  font-size: 15px;
  padding: 18px 50px;
  border-radius: 40px;
  border: 1px solid #3f3f3fc7;
}
.submit:hover {
  background: linear-gradient(0deg, rgba(9, 9, 9, 0.87), rgba(9, 9, 9, 0.87)),
    linear-gradient(0deg, rgba(63, 63, 63, 0.78), rgba(63, 63, 63, 0.78));
  color: white;
}

@media screen and (max-width: 1024px) {
  .inputDiv {
    margin-bottom: 15px;
  }
  .form .inputDiv input {
    padding: 10px 25px;
  }
  textarea {
    padding: 10px 25px;
  }
  .form .submit {
    padding: 15px 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 490px) {
  .gridBox {
    padding: 0 5%;
  }
  .main {
    padding: 70px 0 100px 0;
  }
  .form .submit {
    padding: 10px 20px;
    font-size: 14px;
  }
  .info h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 320px) {
  .info h1 {
    font-size: 45px;
  }
}
